* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.active {
  border-bottom: 2px #4272D8 solid;
  color: #4272D8;
}
/* NAV BAR */
header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  color: #3D4043;
  background-color: white;
}
.nav_bar {
  padding: 15px 20px 15px 20px;
}
.nav_bar img {
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  padding-right: 10px;
}
.nav_bar h6 {
  display: inline-block;
  font-size: 1.4em;
  vertical-align: middle;
  font-weight: lighter;
}
/* MENU */
.menu ul {
  display: flex;
  justify-content: space-between;
}
.menu li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 0.8em;
  font-weight: bold;
}
.menu li:last-child {
  margin-left: auto;
}
/* main */
main {
  width: 70%;
  margin: 0 auto;
  margin-top: 120px;
  line-height: 28px;
}
.main_section li{
  list-style: none;
}
.main_section li h2{
  margin-top: 40px;
  color: #3D4043;
}
.main_section li p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 0.9em;
  color: #3D4043
}

/* FOOTER  */
footer {
  background-color: #EFEFEF;
}
footer ul {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
footer ul li {
  list-style: none;
  display: inline-block;
  font-size: 0.6em;
  line-height: 40px;
  color: grey;
}
footer ul li span {
  padding-left: 10px;
  padding-right: 10px;
}

footer ul li:last-child {
  margin-left: auto;
}
